.nav{
    display: flex;
    gap: 24px;
    padding: 12px;
    background-color: #862e9c;
}

.nav a:link,
.nav a:visited
{
    text-decoration: none;
    color: #fff;
    line-height: 1.6;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

a.login:link{
    margin-left: auto;
}